#container{
        font-family: Arial,sans-serif;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
}
button{
        font-size: 1.5rem;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        background-color: hsl(240, 85%, 69%);
        color: white;
        cursor: pointer;
        font-weight: bold;

}
button:hover{
        background-color: hsl(240, 72%, 59%);
}
button:active{
        background-color: hsl(240, 72%, 49%);
}
input{
        font-size: 2rem;
        width: 150px;
        text-align: center;
        font-weight: bold;
}
#diceResult{
        margin: 25px;
}
#diceImage img{
        width: 300px;
}